root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
tab_width = 8
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[{*.bash,*.envrc*,*.sh}]
indent_style = tab

[Makefile]
indent_style = tab
