# shellcheck shell=bash

strict_env

# renovate: datasource=github-tags depName=nix-community/nix-direnv
nix_direnv_version=3.0.6
nix_direnv_integrity=sha256-RYcUJaRMf8oF5LznDrlCXbkOQrywm0HDv1VjYGaJGdM=
if ! has nix_direnv_version || ! nix_direnv_version $nix_direnv_version; then
	source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/$nix_direnv_version/direnvrc" $nix_direnv_integrity
fi

watch_file .env flake.nix flake.lock

dotenv_if_exists

devenv_root_file="$PWD/.devenv/root"
test -s "$devenv_root_file" || {
	mkdir -p "${devenv_root_file%/*}"
	printf %s "$PWD" >"$devenv_root_file"
}
use flake . --override-input devenv-root "file+file://$devenv_root_file"
