# shellcheck shell=bash

nix_direnv_version=3.0.6
if ! has nix_direnv_version || ! nix_direnv_version $nix_direnv_version; then
	source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/$nix_direnv_version/direnvrc" "sha256-RYcUJaRMf8oF5LznDrlCXbkOQrywm0HDv1VjYGaJGdM="
fi

watch_file flake.nix
watch_file flake.lock

mkdir -p .devenv
printf %s "$PWD" >.devenv/root
use flake . --override-input devenv-root "file+file://$PWD/.devenv/root"
